<div class="container">
    <div class="top-bar">
        
        <!-- Logo -->
        <a href="./" class="logo">
            <img
                src="./assets/icons/logo.svg"
                alt="grocerymart"
                class="logo__img"
            />
            
        </a>
    
        <!-- Navbar -->
        <nav id="navbar" class="navbar hide">
            <button class="navbar__close-btn js-toggle" toggle-target="#navbar">
                <img src="./assets/icons/arrow-left.svg" alt="" />
            </button>
            <ul class="navbar__list">
                <li>
                    <a href="#!" class="navbar__link">
                        Product
                        
                    </a>
                </li>
                <li>
                    <a href="#!" class="navbar__link">
                        Pricing
                        
                    </a>
                </li>
                <li>
                    <a href="#!" class="navbar__link">
                        Contact us
                        
                    </a>
                </li>
                <li>
                    <a href="#!" class="navbar__link">
                        Blog
                        
                    </a>
                </li>
                <li>
                    <a href="#!" class="navbar__link">
                        About Us
                        
                    </a>
                </li>
            </ul>
        </nav>
        <div class="navbar__overlay js-toggle" toggle-target="#navbar"></div>
        <!-- Actions -->
        <div class="top-act">
            <a href="#!" class="btn">Login</a>
            <a href="#!" class="btn">Book a Demo</a>
        </div>
        <!-- More -->
        <button class="top-bar__more js-toggle" toggle-target="#navbar">
            <img
                src="../assets/icons/more.svg"
                alt=""
                class="icon top-bar__more-icon"
            />
        </button>
    </div>

</div>
